@model Kartverket.Models.KommuneInfoViewModel

@{
    ViewData["Title"] = "Feilmelding til kart";
}

<div class="text-center">
    <h1 class="display-4">Melding om feil i kart</h1>
    <p>Kartverkets data er sentrale i Norges offisielle datagrunnlag og brukes i en lang rekke kart på papir og nett. Her kan du hjelpe oss med å holde kartene oppdatert.</p>

    <h4>Noen av funskjonene til denne siden vil kreve at du registrer deg! Gjør det her:</h4>
    <h3><a asp-action="RegistrationForm">Registrer deg</a> </h3>

    @*Kommune Informasjon via API:*@
    <h2>Søk etter kommune informasjon</h2>
    <form asp-action="KommuneInfoApi" method="post">
        @Html.AntiForgeryToken()
        <label for="kommuneNr">Kommune Nummer:</label>
        <input type="text" id="kommuneNr" name="kommuneNr" />
        <button type="submit">Søk</button>
    </form>  

    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }

    @*Test på å få informasjonen på samme view:*@
    @if (Model != null)
    {
        <h2>Kommune informasjon</h2>

        <p>Kommunenavn: @Model.Kommunenavn</p>
        <p>Kommunenummer: @Model.Kommunenummer</p>
        <p>Fylkesnavn: @Model.Fylkesnavn</p>
        <p>Samisk Forvaltningsområde: @(Model.SamiskForvaltningsomrade ? "Ja" : "Nei")</p>
    }
    
     
</div>

<script>
    function changeBackground() {
        document.getElementById('Home').style.backgroundColor = 'lightgreen';
    }
    changeBackground()
</script>