@model Kartverket.Data.Case

@{
    ViewData["Title"] = "RegisteredCaseOverview";
}

<h2>Sak Registrert!</h2>

<div class="page-container">
    <div class="issue-location-details">
        <!-- Case detail table -->
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Saks Nummer</th>
                    <th>Saks Type</th>
                    <th>Saks Dato</th>
                    <th>GeoJson</th>
                    <th>Beskrivelse</th>
                    <th>Bilde</th>
                    <th>BrukerID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CaseNo</td>
                    <td>@Model.Issue_IssueNr</td>
                    <td>@Model.Date</td>
                    <td>@Model.LocationInfo</td>
                    <td>@Model.Description</td>
                    <td>@Model.Images</td>
                    <td>@Model.User_UserID</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-compact">
            <tbody>
                <tr>
                    <td>Du har send inn saken uten en brukerprofil, så du MÅ huske saksnummeret for å kunne se oppdateringer! Saksnummeret kan søkes på "registrerte rettelser" siden</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="map-change-container">
        <div id="map" class="map-section"></div>
    </div>

    <a asp-action="Index" class="btn btn-secondary">Tilbake til hjem</a>
</div>

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script>
        // Fetches the single GeoJSON-data from the model
        var geoJsonData = @Html.Raw(Model.LocationInfo);

        console.log("GeoJSON Data:", geoJsonData);

        // Makes sure om GeoJSON-data is valid
        if (geoJsonData) {
            // Adds the GeoJson data to the map
            L.geoJSON(geoJsonData, {
                style: function (feature) {
                    return { className: 'geojson-feature' }; // Makes the drawn event the SafetyOrange
                },
                onEachFeature: function (feature, layer) {
                    // Legg til popup hvis det finnes egenskaper
                    if (feature.properties && feature.properties.name) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            }).addTo(map); // Bruker det eksisterende 'map' objektet fra leafletMap.js
        } else {
            console.error("GeoJSON-data er tom eller ugyldig.");
        }
    </script>

}
