<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kartverket</title>
    <link rel="icon" type="image/x-icon" href="~/Content/favicon-32x32.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/containers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/map.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/typography.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/accordian.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <link rel="stylesheet" href="~/css/leafletDraw.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="~/css/DropDown.css" />
    <link rel="stylesheet" href="~/css/LogInSite.css" />
    <link rel="stylesheet" href="~/Kartverket.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    @RenderSection("Styles", required: false)
</head>
<body class="custom-background @(string.Equals(ViewData["Title"] as string, "Søk på Saker") ? "no-profile-case-search" : "")">
    <header class="NavHeader">
        <nav class="navbar navbar-expand-lg navbar-light bg-white mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="kartverket-logo" src="~/Content/Logo.svg" alt="Kartverkets logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav d-flex justify-content-between w-100">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) //logged in, and logged in as an admin
                        {
                            // Admin Navbar
                            <li class="nav-item" id="Home">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Forside</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RoadCorrection">Rett opp i kartet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Case" asp-action="OverviewCaseworker">Registrerte rettelser</a>
                            </li>
                        }
                        else
                        {
                            // User/Not Logged In Navbar 
                            <li class="nav-item" id="Home">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Forside</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RoadCorrection">Rett opp i kartet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Case" asp-action="HasProfileCaseOverview">Registrerte rettelser</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OmOss">Om oss</a>
                            </li>
                        }
                    </ul>
                    <a class="navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="pfp-element">
                            <img class="standard-pfp" src="~/Content/UserIcon.png" alt="Profil" width="4rem" height="4rem" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        @if (User.Identity.IsAuthenticated) //logged in
                        {
                            @if (User.IsInRole("Admin")) //logged in as admin
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-dark">Hallo, @User.Identity.Name!</span>
                                </li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logg ut</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Case" asp-action="OverviewCaseworker">OverviewCaseworker</a></li>
                            }
                            else //normal user
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="Profile">Hallo, @User.Identity.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logg ut</a>
                                </li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="KontaktOss">Kontakt Oss</a></li>
                            }
                        }
                        else //not logged in at all
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="LogInForm">Logg inn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="RegistrationForm">Registrer deg</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="KontaktOss">Kontakt Oss</a></li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>  

    <div class="container">
        <main role="main" class="main-padding">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2024 - Kartverket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="~/js/site.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>