@model Kartverket.Data.Case

@{
    ViewData["Title"] = "CaseDetails";
}


<h2>Saksdetaljer</h2>

<div class="page-container">
    <div class="issue-location-details">
        <!-- Case detail table -->
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Saks Nummer</th>
                    <th>Saks Type</th>
                    <th>Saks Dato</th>
                    <th>GeoJson</th>
                    <th>Beskrivelse</th>
                    <th>Bilde</th>
                    <th>BrukerID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CaseNo</td>
                    <td>@Model.Issue_IssueNr</td>
                    <td>@Model.Date</td>
                    <td>@Model.LocationInfo</td>
                    <td>@Model.Images</td>
                    <td>@Model.User_UserID</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a asp-action="Index" class="btn btn-secondary">Tilbake til oversikt</a>