@model Kartverket.Data.Case

@{
    ViewData["Title"] = "Saks Detaljer";
}


<h2>Saksdetaljer</h2>

<div class="page-container">
    <div class="issue-location-details">
        <!-- Case detail table -->
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Saksnummer</th>
                    <th>Saks Type</th>
                    <th>Saks Dato</th>
                    <th>GeoJson</th>
                    <th>Beskrivelse</th>
                    <th>Bilde</th>
                    <th>BrukerID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CaseNo</td>
                    <td>@Model.Issue_IssueNr</td>
                    <td>@Model.Date</td>
                    <td>@Model.LocationInfo</td>
                    <td>@Model.Description</td>
                    <td>@Model.Images</td>
                    <td>@Model.User_UserID</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="map-change-container">
        <div id="map" class="map-section"></div>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tilbake til oversikt</a>
</div>

@section Scripts {
    <script src="~/js/leafletMap.js"></script>

    
    @* This script fetches GeoJSON and CaseNumber from the case model
       The variables are used in singleDrawnCase.js
       Needs to be in this order to work
    *@
    <script>
        // Fetches the single GeoJSON-data from the model
        var geoJsonData = @Html.Raw(Model.LocationInfo);
        var caseNumber = @Model.CaseNo;

    </script>
    <script src="~/js/singleDrawnCase.js"></script>

}