@model Kartverket.Models.SingleCaseModel

@{
    ViewData["Title"] = "Individuel sak oversikt";

    // Uses dictionaries for faster access to information.
    var issueDict = Model.Issues.ToDictionary(x => x.issueNo, x => x.IssueType);
    var kommuneDict = Model.KommuneInfos.ToDictionary(x => x.KommuneInfoID, x => x.KommuneName);
    var fylkeDict = Model.FylkesInfos.ToDictionary(x => x.FylkesNameID, x => x.FylkesName);
    var statusDict = Model.Status.ToDictionary(x => x.StatusNo, x => x.StatusName);

    // Bruk ordbøkene for rask oppslag av data
    var issueType = issueDict.ContainsKey(Model.Case.Issue_IssueNr) ? issueDict[Model.Case.Issue_IssueNr] : "Ukjent";
    var kommuneName = kommuneDict.ContainsKey(Model.Case.KommuneNo) ? kommuneDict[Model.Case.KommuneNo] : "Ukjent kommune";
    var fylkeName = fylkeDict.ContainsKey(Model.Case.FylkesNo) ? fylkeDict[Model.Case.FylkesNo] : "Ukjent fylke";
    var statusType = statusDict.ContainsKey(Model.Case.StatusNo) ? statusDict[Model.Case.StatusNo] : "Ukjent status";

}


<h2>Saksdetaljer</h2>

<div class="page-container">
    <div class="issue-location-details">
        <!-- Case detail table -->
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Saksnummer</th>
                    <th>Saks Type</th>
                    <th>Sak Status</th>
                    <th>Saks Dato</th>
                    <th>GeoJson</th>
                    <th>Beskrivelse</th>
                    <th>Kommentar fra Kartverket</th>
                    <th>Fylke</th>
                    <th>Kommune</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Case.CaseNo</td>
                    <td>@issueType</td>
                    <td>@statusType</td>
                    <td>@Model.Case.Date</td>
                    <td>@Model.Case.LocationInfo</td>
                    <td><textarea readonly="readonly">@Model.Case.Description</textarea></td>
                    <td>@Model.Case.CommentCaseWorker</td>
                    <td>@fylkeName</td>
                    <td>@kommuneName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        <!-- Button to display the image in a modal.
        When clicked, it triggers the 'show.bs.modal' event,
        passing the case ID to fetch the image source from the server. -->
        @if (@Model.Case.Images != null)
        {
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imageModal" data-case-id="@Model.Case.CaseNo">Vis Bilde</button>
        }
    </div>
    <div class="map-change-container">
        <div id="map" class="map-section"></div>
    </div>

    <!--Stores the case-data to be used in DrawnCase.js. Safer than html.raw -->    
    <div class="case-data"
         data-case-no="@Model.Case.CaseNo"
         data-geojson="@Model.Case.LocationInfo">
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tilbake til oversikt</a>
</div>

@await Html.PartialAsync("_ImageModal")

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/DrawnCase.js"></script>


    @* This function fetches GeoJSON and caseNo from the case model using DOM
       The function is from DrawnCase.js
    *@
    <script>
         // Fetches case data from DOM
    const caseDataElement = document.querySelector('.case-data');

    // Calls the singleDrawnChange from DrawnCase.js using the case-data.
    if (caseDataElement) {
        singleDrawnChange(
            JSON.parse(caseDataElement.getAttribute('data-geojson')),
            caseDataElement.getAttribute('data-case-no')
        );
    }

    document.addEventListener('DOMContentLoaded', function () {
                const homeNavItem = document.querySelector('.nav-item a[href*="HasProfileCaseOverview"]');
                if (homeNavItem) {
                    homeNavItem.parentElement.style.backgroundColor = 'var(--light-green)';
                }
            });
    </script>
}