@model Kartverket.Models.ViewModels.SingleCaseModel

@{
    ViewData["Title"] = "Individuel sak oversikt";

    var kommuneName = Model.Case.KommuneInfo?.KommuneName ?? "Ukjent kommune"; // Accessing KommuneName directly
    var fylkeName = Model.Case.FylkesInfo?.FylkesName ?? "Ukjent fylke"; // Accessing KommuneName directly
    var statusType = Model.Case.Status?.StatusName ?? "Ukjent status"; // Accessing KommuneName directly
    var issueType = Model.Case.Issue?.IssueType ?? "Ukjent issue"; // Accessing KommuneName directly
    bool commented = Model.Case.CommentCaseWorker != null;
}


<h2>Saksdetaljer</h2>

<div class="page-container">
    <div class="issue-location-details">
        <!-- Case detail table -->
        <table class="table table-compact">
            <thead>
                <tr>
                    <th>Saksnummer</th>
                    <th>Saks Type</th>
                    <th>Sak Status</th>
                    <th>Saks Dato</th>
                    <th>GeoJson</th>
                    <th>Beskrivelse</th>
                    @if (commented){<th>Kommentar fra Kartverket</th>}
                    <th>Fylke</th>
                    <th>Kommune</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Case.CaseNo</td>
                    <td>@issueType</td>
                    <td>@statusType</td>
                    <td>@Model.Case.Date</td>
                    <td>@Model.Case.LocationInfo</td>
                    <td><textarea readonly="readonly">@Model.Case.Description</textarea></td>
                    @if (commented){<th>Kartverkets Kommentar</th>}
                    <td>@fylkeName</td>
                    <td>@kommuneName</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group">
        <!-- Button to display the image in a modal.
        When clicked, it triggers the 'show.bs.modal' event,
        passing the case ID to fetch the image source from the server. -->
        @if (@Model.Case.Images != null)
        {
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imageModal" data-case-id="@Model.Case.CaseNo">Vis Bilde</button>
        }
    </div>
    <div class="map-change-container">
        <div id="map" class="map-section"></div>
    </div>

    <!--Stores the case-data to be used in DrawnCase.js. Safer than html.raw -->    
    <div class="case-data"
         data-case-no="@Model.Case.CaseNo"
         data-geojson="@Model.Case.LocationInfo">
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tilbake til oversikt</a>
</div>

@await Html.PartialAsync("_ImageModal")

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/DrawnCase.js"></script>

    <script>
    const map = initializeLeafletMap();

    @* This function fetches GeoJSON and caseNo from the case model using DOM
       The function is from DrawnCase.js
    *@    
         // Fetches case data from DOM
    const caseDataElement = document.querySelector('.case-data');

    // Calls the singleDrawnChange from DrawnCase.js using the case-data.
    if (caseDataElement) {
        singleDrawnChange(
            JSON.parse(caseDataElement.getAttribute('data-geojson')),
            caseDataElement.getAttribute('data-case-no')
        );
    }
    
      // Highlights current views navItem when DOM is loaded. 
        document.addEventListener('DOMContentLoaded', function () {
            highlightNavItem('HasProfileCaseOverview');
        });
       
    </script>
}