@model Kartverket.Models.AreaChangeOverviewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Oversikt for Innlogget Bruker";
    var userIdClaim = User.FindFirst(ClaimTypes.NameIdentifier);
    int userId = userIdClaim != null ? int.Parse(userIdClaim.Value) : 0;

    // Uses dictionaries for faster access to information.
    var issueDict = Model.Issues.ToDictionary(x => x.issueNo, x => x.IssueType);
    var kommuneDict = Model.KommuneInfos.ToDictionary(x => x.KommuneInfoID, x => x.KommuneName);
    var fylkeDict = Model.FylkesInfos.ToDictionary(x => x.FylkesNameID, x => x.FylkesName);
    var statusDict = Model.Status.ToDictionary(x => x.StatusNo, x => x.StatusName);
}


<div class="page-container">
    <h1>Oversikt av registrerte endringer</h1>

    <div class="accordion-container">
        
    <a class="nav-link text-dark" asp-controller="User" asp-action="Profile">Hei, @User.Identity.Name!, her er dine innmeldte saker</a>

    @foreach (var individualCase in Model.Cases)
    {        
        // Bruk ordbøkene for rask oppslag av data
            var issueType = issueDict.ContainsKey(individualCase.Issue_IssueNr) ? issueDict[individualCase.Issue_IssueNr] : "Ukjent";
            var kommuneName = kommuneDict.ContainsKey(individualCase.KommuneNo) ? kommuneDict[individualCase.KommuneNo] : "Ukjent kommune";
            var fylkeName = fylkeDict.ContainsKey(individualCase.FylkesNo) ? fylkeDict[individualCase.FylkesNo] : "Ukjent fylke";
            var statusType = statusDict.ContainsKey(individualCase.StatusNo) ? statusDict[individualCase.StatusNo] : "Ukjent status";

        <!-- Individual Case Section -->
        <div class="accordion-item">
            <button class="accordion-header">
                    Sak ID: @individualCase.CaseNo
                <span class="accordion-icon">▼</span>
            </button>

            <div class="accordion-content">
                <!-- Case and location tables in 1 accordion per case -->
                <div class="issue-location-details">
                    <!-- Case detail table -->
                    <table class="table table-compact">
                        <thead>
                            <tr>
                                <th>Saksnummer</th>
                                <th>Type Sak</th>
                                <th>Sak status</th>
                                <th>Innmeldings dato</th>
                                <th>GeoJson</th>
                                <th>Beskrivelse</th>
                                <th>BrukerID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@individualCase.CaseNo</td>
                                <td>@issueType</td>
                                <td>@statusType</td>
                                <td>@individualCase.Date</td>
                                <td>@individualCase.LocationInfo</td>
                                <td>
                                        <span id="description-@individualCase.CaseNo">@individualCase.Description</span>

                                    <!-- Edit Form -->
                                        <form id="edit-form-@individualCase.CaseNo" asp-action="EditDescription" asp-controller="Case" method="post" style="display:none;">
                                        @Html.AntiForgeryToken()
                                            <input type="hidden" name="caseId" value="@individualCase.CaseNo" />
                                            <textarea name="newDescription" class="form-control">@individualCase.Description</textarea>
                                    </form>
                                </td>
                                    <td>@individualCase.User_UserID</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Location details table -->
                    <table class="table table-compact">
                        <thead>
                            <tr>
                                <th>Kommunenavn</th>
                                <th>Kommunenummer</th>
                                <th>Fylkesnavn</th>
                                <th>Fylkesnummer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@kommuneName</td>
                                <td>@individualCase.KommuneNo</td>
                                <td>@fylkeName</td>
                                <td>@individualCase.FylkesNo</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Buttons for Edit and Delete -->
                    <div class="btn-group">
                        <form asp-action="DeleteCase" asp-controller="Case" method="post" style="display: inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="caseId" value="@individualCase.CaseNo" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker du vil slette denne saken? Dette kan ikke tas tilbake')">Slett sak</button>
                        </form>

                        <button onclick="toggleEditForm(@individualCase.CaseNo)" class="btn btn-primary" style="display: inline;">Rediger</button>

                        @if (individualCase.Images != null)
                        {
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imageModal" data-case-id="@individualCase.CaseNo">Vis Bilde</button>
                        }
                    </div>

                    <!-- Save and Cancel buttons for Edit Form, only visible when editing -->
                    <div id="edit-buttons-@individualCase.CaseNo" class="edit-form-btn" style="display: none;">
                        <button form="edit-form-@individualCase.CaseNo" type="submit" class="btn btn-success">Lagre</button>
                        <button type="button" onclick="toggleEditForm(@individualCase.CaseNo)" class="btn btn-secondary">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>

            <!--
            Stores the case-data to be used in DrawnCase.js. Safer than html.raw -->
            <div class="case-data"
                 data-case-no="@individualCase.CaseNo"
                 data-geojson="@individualCase.LocationInfo">
            </div>
           
    }
    </div>

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Vedlagt Bilde</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Case Image" class="img-fluid" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="map-change-container">
        <div id="map" class="map-section"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/DrawnCase.js"></script>

    <script>

        multipleDrawnChanges();

        function toggleEditForm(caseNo) {
            const form = document.getElementById(`edit-form-${caseNo}`);
            const editButtons = document.getElementById(`edit-buttons-${caseNo}`);
            const isHidden = form.style.display === "none";

            form.style.display = isHidden ? "block" : "none";
            editButtons.style.display = isHidden ? "flex" : "none";
        }

        // Accordion functionality
        document.querySelectorAll('.accordion-header').forEach(button => {
            button.addEventListener('click', () => {
                const accordionContent = button.nextElementSibling;
                button.classList.toggle('active');

                if (accordionContent.style.display === 'block') {
                    accordionContent.style.display = 'none';
                } else {
                    accordionContent.style.display = 'block';
                }

                map.invalidateSize();
            });
        });
    </script>
}
