@model OverviewCaseworkerModel

@{
    ViewData["Title"] = "OverviewCaseworker";
}

<div class="accordion-container-container">
    <h1>Oversikt av registrerte rettelser</h1>


    <!-- Parent Accordion for all cases -->
    <div class="accordion" id="parentAccordion">
                <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAllCases" aria-expanded="false" aria-controls="collapseAllCases">
                    Alle Saker
                </button>
                    <div id="collapseAllCases" class="accordion-item collapse" aria-labelledby="headingAllCases" data-bs-parent="#parentAccordion">
                        <div class="accordion-body">
                            <div class="accordion" id="casesAccordion">
                                <!-- Search by CaseNo Form -->
                                <form id="caseSearchForm">
                                    <input type="text" id="caseSearchInput" placeholder="Søk etter SaksID" />
                                    <button type="button" id="caseSearchButton">Search</button>
                                </form>
                                <!-- Filter Form -->
                                <form id="caseFilterForm">
                                    <input type="text" id="kommuneSearchInput" placeholder="Søk etter Kommunenavn" />
                                    <select class="form-control" id="issueTypeSearchInput" name="IssueType">
                                        <option value="" selected>Ingen type valgt</option>
                                        <option value="2">Vei/Sti</option>
                                        <option value="1">Adresse/tomt</option>
                                        <option value="3">Sjø</option>
                                        <option value="4">Annet</option>
                                    </select>
                                    <input type="date" id="startDateInput" placeholder="Start Date" />
                                    <input type="date" id="endDateInput" placeholder="End Date" />
                                    <button type="button" id="caseFilterButton">Filter</button>
                                </form>
                                @foreach (var change in Model.Cases)
                                {
                                    var kommuneName = change.KommuneInfo?.KommuneName ?? "Ukjent kommune"; // Accessing KommuneName directly
                                    var fylkeName = change.FylkesInfo?.FylkesName ?? "Ukjent fylke"; // Accessing KommuneName directly
                                    var statusType = change.Status?.StatusName ?? "Ukjent status"; // Accessing KommuneName directly
                                    var issueType = change.Issue?.IssueType ?? "Ukjent issue"; // Accessing KommuneName directly

                                    //var issueType = @change.IssueNo.ToString();
                                    //var kommuneName = change.KommuneNo.ToString();
                                    //var fylkeName = change.FylkesNo.ToString();
                                    //var statusDict = Model.Status.ToDictionary(x => x.StatusNo, x => x.StatusName);
                                    //var statusType = statusDict.ContainsKey(change.StatusNo) ? statusDict[change.StatusNo] : "Ukjent status";           
                                    <!-- Individual Case Section -->
                                            
                                            <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCase-@change.CaseNo" aria-expanded="false" aria-controls="collapseCase-@change.CaseNo">
                                                Saks ID: @change.CaseNo
                                            </button>
                                        <div id="collapseCase-@change.CaseNo" class="accordion-collapse collapse" aria-labelledby="headingCase-@change.CaseNo" data-bs-parent="#casesAccordion">
                                            <div class="accordion">
                                                <!-- Case and location tables in 1 accordion per case -->
                                                <div class="issue-location-details">
                                                    <!-- Case detail table -->
                                                    <table class="table table-compact">
                                                        <thead>
                                                            <tr>
                                                                <th>Saks Nummer</th>
                                                                <th>Saks Type</th>
                                                                <th>Sak Status</th>
                                                                <th>Saks Dato</th>
                                                                <th>GeoJson</th>
                                                                <th>Beskrivelse</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@change.CaseNo</td>
                                                                <td>
                                                                    <span id="issueType-@change.CaseNo">@issueType</span>

                                                                </td>
                                                                <td>
                                                                    <span id="status-@change.CaseNo">@statusType</span>
                                                                </td>
                                                                <td>@change.Date</td>
                                                                <td>@change.LocationInfo</td>
                                                                <td>
                                                    <span id="description-@change.CaseNo"><textarea readonly="readonly">@change.Description</textarea></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Location details table -->
                                                    <table class="table table-compact">
                                                        <thead>
                                                            <tr>
                                                                <th>Kommunenavn</th>
                                                                <th>Kommunenummer</th>
                                                                <th>Fylkesnavn</th>
                                                                <th>Fylkesnummer</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@kommuneName</td>
                                                                <td>@change.KommuneNo</td>
                                                                <td>@fylkeName</td>
                                                                <td>@change.FylkesNo</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                   <!-- Combined Edit Form -->
                                                    <form id="edit-form-@change.CaseNo" asp-action="EditCase" asp-controller="Case" method="post" style="display:none;" onsubmit="submitEditForm(event, @change.CaseNo)">
                                                        <input type="hidden" name="caseId" value="@change.CaseNo" />
                                                        <div>
                                                            <label for="newIssueType">Saks Type:</label>
                                                            <select name="newIssueType" class="form-control">
                                                                @foreach (var issue in Model.AllIssues)
                                                                {
                                                                    if (issue.issueNo == change.IssueNo)
                                                                    {
                                                                        <option value="@issue.issueNo" selected>@issue.IssueType</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@issue.issueNo">@issue.IssueType</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="newStatus">Status:</label>
                                                            <select name="newStatus" class="form-control">
                                                                @foreach (var status in Model.AllStatus)
                                                                {
                                                                    if (status.StatusNo == change.StatusNo)
                                                                    {
                                                                        <option value="@status.StatusNo" selected>@status.StatusName</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@status.StatusNo">@status.StatusName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="newDescription">Beskrivelse:</label>
                                                            <textarea name="newDescription" class="form-control">@change.Description</textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Lagre</button>
                                                        <button type="button" onclick="toggleEditForm(@change.CaseNo)" class="btn btn-secondary">Avbryt</button>
                                                    </form>

                                                    <!-- Buttons for Edit, Delete and Display Image -->
                                                    <div class="btn-group">
                                                        <!-- Deletion button -->
                                                        <form asp-action="DeleteCase" asp-controller="Case" method="post" style="display: inline;">
                                                            <input type="hidden" name="caseId" value="@change.CaseNo" />
                                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Er du sikker du vil slette denne saken? Dette kan ikke tas tilbake')">Slett sak</button>
                                                        </form>

                                                        <!-- Edit button to toggle edit form -->
                                                        <button onclick="toggleEditForm(@change.CaseNo)" class="btn btn-primary" style="display: inline;">Rediger</button>

                                                        <!-- Button to display the image in a modal -->
                                                        @if (change.Images != null)
                                                        {
                                                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imageModal" data-case-id="@change.CaseNo">Vis Bilde</button>
                                                        }

                                                        <!-- Button to assign a new case -->
                                                        <button type="button" class="btn btn-secondary" onclick="assignCaseworker(@change.CaseNo)">Assign Caseworker</button>
                                                    </div>

                                                    
                                                </div>
                                            </div>
                                        </div>
                                }
                            </div>

                        </div>
                    </div>
    


    <!-- Accordion for Users -->
    <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAllUsers" aria-expanded="false" aria-controls="collapseAllUsers">
        Alle Brukere
    </button>
        <div id="collapseAllUsers" class="accordion-collapse collapse" aria-labelledby="headingAllUsers" data-bs-parent="#parentAccordion">
            <div class="accordion-body">
                <div class="accordion" id="usersAccordion">
                    <form id="userSearchForm">
                        <input type="text" id="userIDSearchInput" placeholder="Søk etter brukerID" />
                        <input type="text" id="userNameSearchInput" placeholder="Søk etter brukernavn" />
                        <input type="text" id="userCasesSearchInput" placeholder="Søk etter innmeldte saker" />
                        <button type="button" id="userSearchButton">Filter</button>
                    </form>
                    @foreach (var user in Model.Users)
                    {
                        List<Int128> SakSentUserList = new List<Int128>();
                        <!-- Individual User Section -->
                                <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUser-@user.UserID" aria-expanded="false" aria-controls="collapseUser-@user.UserID">
                                    Bruker ID: @user.UserID, Brukernavn: @user.UserName
                                </button>
                            <div id="collapseUser-@user.UserID" class="accordion-collapse collapse" aria-labelledby="headingUser-@user.UserID" data-bs-parent="#usersAccordion">
                                <div class="accordion-body">
                                    <!-- Case and location tables in 1 accordion per case -->
                                    <div class="issue-location-details">
                                        @foreach (var cases in Model.Cases)
                                        {
                                            var CaseUserID = cases.User_UserID;
                                            var CaseID = cases.CaseNo;
                                            var UsersUserID = user.UserID;
                                            if (CaseUserID == UsersUserID)
                                            {
                                                SakSentUserList.Add(CaseID);
                                            }
                                        }
                                        <!-- User detail table -->
                                        <table class="table table-compact">
                                            <thead>
                                                <tr>
                                                    <th>Bruker ID</th>
                                                    <th>Brukernavn</th>
                                                    <th>Mail</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@user.UserID</td>
                                                    <td>@user.UserName</td>
                                                    <td>@user.Mail</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Location details table -->
                                        <table class="table table-compact">
                                            <thead>
                                                <tr>
                                                    <th>Saker Registrert ID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var saker in SakSentUserList)
                                                {
                                                    <tr>
                                                        <td>@saker</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>

        <!-- Accordion for Caseworkers -->
        <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAllCaseworkers" aria-expanded="false" aria-controls="collapseAllCaseworkers">
            Alle Caseworkers
        </button>
        <div id="collapseAllCaseworkers" class="accordion-collapse collapse" aria-labelledby="headingAllCaseworkers" data-bs-parent="#parentAccordion">
            <div class="accordion-body">
                <div class="accordion" id="caseworkersAccordion">
                    <form id="caseworkerSearchForm">
                        <input type="text" id="CWIDSearchInput" placeholder="Søk etter Saksbehandler ID" />
                        <button type="button" id="caseworkerSearchButton">Filter</button>
                    </form>
                    @foreach (var caseworker in Model.CaseWorkers)
                    {
                        var mail = "default";
                        var firstname = "default";
                        var lastname = "default";
                        var PhoneNo = 0;
                        var employeeID = 0;
                        List<int> CWCasesAssigned = new List<int>();

                        <!-- Individual Caseworker Section -->
                        <button class="accordion-container-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCaseworker-@caseworker.CaseWorkerID" aria-expanded="false" aria-controls="collapseCaseworker-@caseworker.CaseWorkerID">
                            Caseworker ID: @caseworker.CaseWorkerID
                        </button>
                        <div id="collapseCaseworker-@caseworker.CaseWorkerID" class="accordion-collapse collapse" aria-labelledby="headingCaseworker-@caseworker.CaseWorkerID" data-bs-parent="#caseworkersAccordion">
                            <div class="accordion-body">
                                <div class="issue-location-details">
                                    @foreach (var workers in Model.Employees)
                                    {
                                        var CaseworkerID = caseworker.KartverketEmployee_EmployeeID;
                                        var workerID = workers.EmployeeID;
                                        if (CaseworkerID == workerID)
                                        {
                                            mail = workers.Mail;
                                            firstname = workers.Firstname;
                                            lastname = workers.Lastname;
                                            PhoneNo = workers.PhoneNo;
                                            employeeID = workers.EmployeeID;
                                        }
                                    }
                                    @if (Model.CaseWorkerAssignment != null)
                                    {
                                        @foreach (var assignment in Model.CaseWorkerAssignment)
                                        {
                                            if (assignment.CaseWorkerID == caseworker.CaseWorkerID)
                                            {
                                                CWCasesAssigned.Add(assignment.CaseNo);
                                            }
                                        }
                                    }
                                    <!-- Case detail table -->
                                    <table class="table table-compact">
                                        <thead>
                                            <tr>
                                                <th>CaseworkerID</th>
                                                <th>Fornavn</th>
                                                <th>Etternavn</th>
                                                <th>Mail</th>
                                                <th>Mobil nr</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@employeeID</td>
                                                <td>@firstname</td>
                                                <td>@lastname</td>
                                                <td>@mail</td>
                                                <td>@PhoneNo</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-compact">
                                        <thead>
                                            <tr>
                                                <th>Saker tildelt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cases in CWCasesAssigned)
                                            {
                                                <tr>
                                                    <td>@cases</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ImageModal")
</div>



  
@section Scripts {
    <script src="~/js/leafletMap.js"></script>
    <script src="~/js/mapChanges.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/filter.js"></script>
    <script src="~/js/EditCaseAJAX.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- Add jQuery for AJAX functionality -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/EditForm.js"></script>
    <script src="~/js/Accordion.js"></script>

    <script>
        // initializesAccordion using function from Accordion.js
        initializeAccordion('.accordion-container', map);
        
        document.addEventListener('DOMContentLoaded', function () {
            const homeNavItem = document.querySelector('.nav-item a[href*="OverviewCaseworker"]');
            if (homeNavItem) {
                homeNavItem.parentElement.style.backgroundColor = 'var(--light-green)';
            }
        });
    </script>
}